body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("../products/bg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    /* border:2px solid #7311e3; */
    /* background-color:color-mix(in oklab, #9521c0, #001eff 16%); */
    background-image:url("../products/bg4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    display: flex;
    align-items: center;
    height:50px;
    font-weight: bold;
}
#outerdiv{
    display: flex;
}
#questionlist{
    margin-top: 30px;
    /*margin-left: 25px; */
    width:50%;
    height:100%;
}
#questionlist button{
    padding: 3px;
    background-color: rgb(133, 17, 228);
    border:1px solid black;
    margin-right:10px;
    color:white;
}
#list{
    background-color:#E5E4E2;
    /* background-color:rgb(155, 80, 246); */
    /* background-image:url("../products/bg2.jpeg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}
#questionform{
    margin-left: 25px;
}
#questionform h2{
    font-size: xx-large;
}
#question{
    margin-top:5px;
    display:block;
}
#subject{
    font-size:large;
}
#submit{
    background-color: rgb(107, 17, 218);
    border:none;
    padding:10px;
    margin-top:2px;
    color:white;
}
#responseform{
    margin-top:50px;
    margin-left: 25px;
  display:none;
}
#name{
    font-size: large;
}
#comment{
    margin-top:5px;
    display:block;
}
#showresques{
    font-size: large;
}
#responses{
    font-size: large;
}
.buttonstyle{
    color:rgb(124, 246, 246);
    background-color:  rgb(133, 17, 228);
    border:1px solid black;
    padding:10px;
    margin-top:2px;
}
#showsubinres{
    text-decoration: underline;
}
#responses h3{
    text-decoration: underline;
} 
#responses p{
    font-style:italic;
}
#showquesinres{
    font-style:italic;
}
.red{
    border:red;
    color:red;
}
.white{
    border:white;
    color:white;
}
.myclass{
    border: none;
}
.mytimer{
    border:none;
}